body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.like-dislike-bttns {
  position: relative;
  width: 100px;
  height: 100px;
  justify-content: center;
}
.post-imgs {
  width: 350px;
  height: 300px;
}
/* .climate-post-container {
  border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
} */
.post-box {
  border: 2px solid transparent;
  border-color: rgb(165, 226, 247);
}
.form-container {
  border-color: rgba(165, 238, 247, 0.719);
  width: 400px;
  margin: auto;
}
.votes-container{
  position: relative;
}
.post-id{
  size: 20px;
}
